$first-text-color: #131635;
$second-text-color: #798ba3;
$third-text-color: #fff;
$fourth-text-color: #cdd7fb;
$sixth-text-color: #008a39;
$seventh-text-color: #f53c3d;

$first-design-color: #0177fd;
$second-design-color: #f9f8fd;
$third-design-color: #fff;

$border-color: #dcdcdc;
