.wrapper {
  margin: 0 auto;
  max-width: 1445px;
  width: 100%;
  padding: 0 1.5em;
}

.section-heading {
  font-size: 2rem;
  font-weight: 500;
  padding: 1em 0;
}

.plus-color {
  color: #008a39;
}

.minus-color {
  color: #f53c3d;
}

.stagnation-color {
  color: #131635;
}

.error {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 400px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px 0;
  background-color: #f9f8fd;
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  padding: 1em;
  display: none;
}

.error-btn {
  margin-top: 1em;
  padding: 0.5em 1em;
  background: none;
  border: 1px solid #dcdcdc;
  background-color: #0177fd;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: display 0.3s;
  transition: display 0.3s;
}

.error--active {
  display: block;
}

.right-column {
  position: relative;
  height: 100vh;
}

.favorite .bold {
  font-weight: 600;
  padding-bottom: 0.8em;
}

.favorite .stock,
.favorite .stock-currency,
.favorite .exchange,
.favorite .p-e,
.favorite .symbol {
  display: none;
}

.favorite__stocks {
  background-color: #f9f8fd;
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  position: relative;
}

.favorite__stocks::after {
  content: "";
  position: absolute;
  width: 100%;
  background: #dcdcdc;
  height: 1px;
  top: 40px;
}

.favorite__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr 0.2fr;
      grid-template-columns: 2fr 1fr 1fr 0.2fr;
  gap: 0.2em;
  padding: 0.5em;
  position: relative;
}

.favorite__grid-text {
  padding-bottom: 0.5em;
}

.favorite__grid .fa-xmark {
  color: #f53c3d;
  cursor: pointer;
  font-size: 2rem;
}

.favorite__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.favorite__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.favorite__add-input {
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  padding: 0.7em 0.7em;
  width: 100%;
  min-width: 202px;
}

.favorite__add-btn {
  font-size: 2.5rem;
  color: #798ba3;
  padding-left: 0.3em;
  cursor: pointer;
}

.favorite__add-btn:hover {
  color: #0177fd;
}

@media (min-width: 768px) {
  .favorite .p-e,
  .favorite .symbol {
    display: block;
  }
  .favorite__grid {
    -ms-grid-columns: 2fr 1fr 1fr 1fr 1fr 0.2fr;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr 0.2fr;
  }
}

@media (min-width: 1100px) {
  .right-column {
    width: 100%;
    max-width: unset;
    padding-top: 2em;
  }
  .favorite .stock,
  .favorite .stock-currency,
  .favorite .exchange {
    display: block;
  }
  .favorite__grid {
    -ms-grid-columns: 2fr 1fr 1fr 1fr 1fr 0.5fr 0.5fr 0.2fr;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr 0.5fr 0.5fr 0.2fr;
  }
}

@media (min-width: 1340px) {
  .right-column {
    width: 100%;
    max-width: unset;
    padding-top: 2em;
    margin-left: 300px;
  }
}
/*# sourceMappingURL=favorite.css.map */