.wrapper {
  margin: 0 auto;
  max-width: 1445px;
  width: 100%;
  padding: 0 1.5em;
}

.section-heading {
  font-size: 2rem;
  font-weight: 500;
  padding: 1em 0;
}

.plus-color {
  color: #008a39;
}

.minus-color {
  color: #f53c3d;
}

.stagnation-color {
  color: #131635;
}

.error {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 400px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px 0;
  background-color: #f9f8fd;
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  padding: 1em;
  display: none;
}

.error-btn {
  margin-top: 1em;
  padding: 0.5em 1em;
  background: none;
  border: 1px solid #dcdcdc;
  background-color: #0177fd;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: display 0.3s;
  transition: display 0.3s;
}

.error--active {
  display: block;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

.main {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  padding-top: 65px;
  z-index: 0;
  position: relative;
  overflow: hidden;
}

.center-column,
.right-column {
  padding: 0 1.5em;
}

.right-column {
  padding-bottom: 3em;
}

.header {
  position: relative;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #dcdcdc;
  z-index: 100;
}

.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__btn {
  background: none;
  border: none;
  font-size: 3rem;
  cursor: pointer;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #131635;
}

.header__logo i {
  color: #0177fd;
  font-size: 3rem;
  padding-right: 0.3em;
}

.header__logo h1 {
  font-size: 2rem;
}

.nav-mobile {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100vh;
  background-color: #f9f8fd;
  border-right: 1px solid #dcdcdc;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.97;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.nav-mobile--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav-mobile__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-mobile__list-item {
  text-decoration: none;
  color: #131635;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
}

.nav-mobile__list-item i {
  padding-right: 0.7em;
  color: #798ba3;
  font-size: 2.5rem;
}

.balance {
  padding-top: 2em;
}

.balance__block {
  background-color: #0177fd;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  padding: 1.5em 1em;
  width: 100%;
}

.balance__total {
  width: 100%;
  padding-left: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.balance__total-heading {
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 1em;
}

.balance__currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.balance__currency span {
  color: #cdd7fb;
}

.changes {
  width: 100%;
}

.changes__boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.changes__box {
  background-color: #f9f8fd;
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  padding: 1em;
  min-width: 145px;
}

.changes__box-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.changes__box-top span {
  padding-left: 1em;
  color: #131635;
  font-weight: 500;
}

.changes__box-bottom {
  color: #008a39;
  font-size: 2.4rem;
  font-weight: 500;
  padding-top: 0.5em;
}

.summary__boxes {
  background-color: #f9f8fd;
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  padding: 1em;
  padding: 1.7em 1em;
}

.summary__box {
  padding-bottom: 1em;
}

.summary__box h3 {
  font-size: 2.4rem;
  padding-bottom: 0.6em;
}

.summary__box h4 {
  font-size: 3rem;
  color: #008a39;
  font-weight: 100;
}

.summary__box img {
  padding: 1em 0;
}

.summary__box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em 0;
}

.summary__box-text p {
  color: #131635;
  font-weight: 500;
}

.summary__box-text span {
  color: #798ba3;
}

.summary__box:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stocks {
  background-color: #f9f8fd;
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  padding: 1em;
  margin-top: 2em;
}

.stocks__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stocks__top-text {
  color: #f53c3d;
  font-weight: 500;
  text-decoration: none;
}

.stocks__top-text:hover {
  text-decoration: underline;
}

.stocks__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.5em;
  width: 100%;
}

.stocks__box-name {
  width: 60%;
}

.stocks__box-name p {
  color: #131635;
  font-weight: 500;
}

.stocks__box-name span {
  font-size: 1.2rem;
  color: #798ba3;
}

.stocks__box-percentage {
  width: 30%;
  font-size: 2.4rem;
  text-align: end;
  font-weight: 500;
}

.stocks__box-price {
  display: none;
  width: 30%;
  text-align: end;
}

.currency {
  background-color: #f9f8fd;
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  padding: 1em;
  margin-top: 2em;
}

.currency__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 1.2em;
}

.currency__box:last-child {
  padding-bottom: 0;
}

.left-column {
  height: 100vh;
  width: 100%;
  max-width: 280px;
  border-right: 2px solid #dcdcdc;
  padding: 2em 1em;
  display: none;
}

.left-column__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #131635;
}

.left-column__logo i {
  color: #0177fd;
  font-size: 2.8rem;
  padding-right: 0.3em;
}

.left-column__logo h1 {
  font-size: 1.8rem;
}

.nav-desktop__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2em;
}

.nav-desktop__list-item {
  padding: 0.7em;
  text-decoration: none;
  color: #131635;
  font-size: 1.8rem;
  display: block;
  width: 100%;
  max-width: 200px;
}

.nav-desktop__list-item:hover {
  background-color: #e5f1ff;
  border-radius: 8px;
  color: #0177fd;
}

.nav-desktop__list-item i {
  padding-right: 0.7em;
  color: #798ba3;
  font-size: 2rem;
}

@media (min-width: 576px) {
  .changes__boxes {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
  }
  .changes__box {
    min-width: 125px;
  }
  .stocks__box-name {
    width: 50%;
  }
  .stocks__box-price {
    display: block;
  }
  .stocks__box-percentage {
    width: 20%;
  }
  .summary__boxes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .nav-mobile {
    width: 25%;
  }
}

@media (min-width: 1100px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .center-column {
    width: 100%;
    max-width: 862px;
    padding-right: 0;
  }
  .right-column {
    width: 100%;
    max-width: 510px;
    padding-top: 4.3em;
  }
}

@media (min-width: 1340px) {
  .main {
    max-width: 1330px;
    padding-top: 0;
  }
  .header {
    display: none;
  }
  .left-column {
    display: block;
    position: fixed;
  }
  .right-column {
    padding-top: 0;
  }
  .center-column {
    padding-left: 310px;
  }
  .stocks {
    margin-top: 6.4em;
  }
}
/*# sourceMappingURL=main.css.map */